{% extends 'productos/base.html' %}

{% block contenido %}

<h1>Buscar Productos</h1>

<form method="GET">

    {{ formulario.as_p }}

    <button class="btn btn-primary">

        Buscar

    </button>

</form>

<hr>

{% if productos %}

<h3>Resultados:</h3>

<div class="row">

{% for producto in productos %}

<div class="col-md-4">

<div class="card mb-4">

<img src="{{ producto.imagen.url }}"
     class="card-img-top">

<div class="card-body">

<h5>{{ producto.nombre }}</h5>

<p>{{ producto.marca }}</p>

<p>${{ producto.precio }}</p>

<a class="btn btn-success"
   href="/pages/{{ producto.id }}/">

Leer más

</a>

</div>

</div>

</div>

{% endfor %}

</div>

{% elif request.GET.nombre %}

<h3>No se encontraron productos.</h3>

{% endif %}

{% endblock %}