{% extends 'productos/base.html' %}

{% block contenido %}

<h1>{{ producto.nombre }}</h1>

<img src="{{ producto.imagen.url }}"
     width="400">

<h3>{{ producto.marca }}</h3>

<p>{{ producto.descripcion|safe }}</p>

<p><strong>Precio:</strong> ${{ producto.precio }}</p>

<p><strong>Fecha:</strong> {{ producto.fecha }}</p>

<hr>

{% if user.is_superuser %}

<a class="btn btn-warning"
   href="/pages/update/{{ producto.id }}/">

Editar

</a>

<a class="btn btn-danger"
   href="/pages/delete/{{ producto.id }}/">

Borrar

</a>

{% endif %}



<hr>

<h2>Opiniones de Clientes</h2>

<a class="btn btn-primary mb-3"
   href="/opinion/{{ producto.id }}/">

Agregar Opinión

</a>

{% if producto.opiniones.all %}

{% for opinion in producto.opiniones.all %}

<div class="card mb-3">

<div class="card-body">

<h5>

{{ opinion.usuario }}

</h5>

<p>

{{ opinion.comentario }}

</p>

<p>

⭐ {{ opinion.puntuacion }}/5

</p>

<small>

{{ opinion.fecha }}

</small>

</div>

</div>

{% endfor %}

{% else %}

<p>No hay opiniones todavía.</p>

{% endif %}

{% endblock %}