{% extends 'productos/base.html' %}

{% block contenido %}

<h1>{{ producto.nombre }}</h1>

<img src="{{ producto.imagen.url }}"
     width="400">

<h3>{{ producto.marca }}</h3>

<p>{{ producto.descripcion|safe }}</p>

<p><strong>Precio:</strong> ${{ producto.precio }}</p>

<p><strong>Fecha:</strong> {{ producto.fecha }}</p>

<hr>

<a class="btn btn-warning"
   href="/pages/update/{{ producto.id }}/">

Editar

</a>

<a class="btn btn-danger"
   href="/pages/delete/{{ producto.id }}/">

Borrar

</a>

{% endblock %}