{% extends 'productos/base.html' %}

{% block contenido %}

<h1>Productos Importados</h1>

{% if user.is_superuser %}
<a class="btn btn-primary mb-3" href="/crear/">
    Crear Producto
</a>
{% endif %}

{% if object_list %}

<div class="row">

{% for producto in object_list %}

<div class="col-md-4">

<div class="card shadow mb-4">

<img src="{{ producto.imagen.url }}"
     class="card-img-top"
     style="height:300px; object-fit:cover;">
     
<div class="card-body">

<h5>{{ producto.nombre }}</h5>

<span class="badge bg-primary">

{{ producto.categoria.nombre }}

</span>

<p>{{ producto.marca }}</p>

<p>${{ producto.precio }}</p>

<a class="btn btn-success"
   href="/pages/{{ producto.id }}/">

   Leer más

</a>

</div>

</div>

</div>

{% endfor %}

</div>

{% else %}

<h3>No hay páginas aún</h3>

{% endif %}

{% endblock %}